@import "../../partials/colors";
@import "../../partials/mixins";

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-bottom: 60px;
}

.card__container {
  width: 375px;
  height: 200px;
  margin: 15px 20px;
  border-radius: 16px;
  background-image: url("../../assets/sosuke-house.jpeg");
  background-size: cover;
  padding: 16px;
}

.cards__link {
  transition-duration: 0.5s;
  text-decoration: none;
  &:hover {
    opacity: 0.75;
  }
}
.card__title {
  color: white;
}
