// text
$light: #fff;
$dark: #323232;
$dark-alt: #666;

// backgrounds
$bg-light: #fff;
$bg-alt: #f9f9f9;

// gradients
// pink
$pink-1: #ff9a9e;
$pink-2: #fecfef;

// purple
$purple-1: #fbc2eb;
$purple-2: #a6c1ee;

// orange
$orange-1: #ffc3a0;
$orange-2: #ffefb0;

// green
$green-1: #84fab0;
$green-2: #8fd3f4;
